$def with (lang)

$#Common properties
$var lang_administration:$lang['common_administration']

$#Page properties
$var lang_page_title:$lang['index_page_title']






<!-- inner content-->
<div id="inner_content">
    <div id="top_panel">
        <div id="breadcrumbs">

            $lang['forgot_password_title']

        </div>
        <div id="panel_buttons">

        </div>
        <div style="clear:both"></div>
    </div>
    <div id="main_content">

        <fieldset style="padding:16px; width:300px; height:135px;margin-left: auto ;margin-right: auto;">
            <table cellpadding="4" cellspacing="4">
                <tr>
                    <td>
                        $lang['forgot_password_remember_username']
                    </td>
                    <td>
                        <input type="text" name="pf_username" id="pf_username">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        <input type="button" value="$lang['forgot_password_send_button']" id="forgot_password">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        $lang['forgot_password_leyend']
                    </td>
                </tr>
            </table>
        </fieldset>

    </div>
</div>
<!-- inner content end -->




