$def with (lang)

$#Common properties
$var lang_administration:$lang['common_administration']

$#Page properties
$var lang_page_title:$lang['index_page_title']


<div id="inner_content">
    <div id="top_panel">
        <div id="breadcrumbs">

            New Menu

        </div>
        <div id="panel_buttons">

        </div>
        <div style="clear:both"></div>
    </div>
    <div id="main_content">
        <a href="$admin_api_url/menus/new">New Menu</a><br /><br />



        <form method="POST" onsubmit="return false;">
            <fieldset style="padding:16px;">
                <table cellpadding="4" cellspacing="4">
                    <tr>
                        <td>
                            Title:
                        </td>
                        <td>
                            <input type="text" name="menu_title" id="menu_title">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Description:
                        </td>
                        <td>
                            <input type="text" name="menu_descr" id="menu_descr">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Menu Path:
                        </td>
                        <td>
                            <input type="text" name="menu_path" id="menu_path">
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" align="right">
                            <input type="button" value="Add" id="add_menu">
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>




    </div>
</div>



