$def with (lang, menus)

$#Common properties
$var lang_administration:$lang['common_administration']

$#Page properties
$var lang_page_title:$lang['index_page_title']


<div id="inner_content">
    <div id="top_panel">
        <div id="breadcrumbs">

            Menu List

        </div>
        <div id="panel_buttons">

        </div>
        <div style="clear:both"></div>
    </div>
    <div id="main_content">

        <a href="$admin_api_url/menus/new">New Menu</a><br /><br />

        <table>
            <tr>
                <td>
                    Title:
                </td>
                <td>
                    Description:
                </td>
                <td colspan="2">
                    Path:
                </td>
            </tr>
            $for menu in menus:
                <tr>
                    <td>
                        $menu['title']
                    </td>
                    <td>
                        $menu['descr']
                    </td>
                    <td>
                        $menu['path']
                    </td>
                    <td>
                        <a href="$admin_api_url/menus/edit/$menu['id']"> Edit </a> | <a href="#" alt="$menu['id']" class="del_menu"> Remove </a>
                    </td>
                </tr>
        </table>



    </div>
</div>



