$def with (lang)
$#Common properties
$var lang_administration:$lang['common_administration']

$#Page properties
$var lang_page_title:BeOnline - Bienvenidos

$#Page Variables
$var is_home_page:True
$var current_menu:Inicio
<div id="banner-container">
    <div id="slideshow">

        <ul id="nav">
            <li id="prev"><a href="#">Previous</a></li>
            <li id="next"><a href="#">Next</a></li>
        </ul>
        <ul id="slides">
            <li>
                <img src="/static/s/images/b1.png" alt="" width="752" height="375">
            </li>
            <li>
                <img src="/static/s/images/b2.png" alt="" width="752" height="375">
            </li>
            <li>
                <img src="/static/s/images/b3.png" alt="" width="752" height="375">
            </li>
            <li>
                <img src="/static/s/images/b4.png" alt="" width="752" height="375">
            </li>
            <li>
                <img src="/static/s/images/b5.png" alt="" width="752" height="375">
            </li>
            <li>
                <img src="/static/s/images/b6.png" alt="" width="752" height="375">
            </li>
        </ul>

    </div><!--end slideshow-->
</div><!--end banner-container-->



<div id="h-mid-data">

    <div style="float:left; margin-top:12px;">
        Agencia de publicidad y consultoria de software.
    </div>
    <div style="float:right">
        informes@beonline.com.mx <br />
        ventas@beonline.com.mx
    </div>
    <div style="clear:both"></div>

</div>
<div id="h-bot-data">
    <img src="/static/s/images/ban-h-1.png" height="90" width="283" style=" float:left;margin-bottom:11px;">
    <img src="/static/s/images/ban-h-2.png" height="83" width="215" style=" float:left;margin:16px 0 0 46px;">
    <img src="/static/s/images/ban-h-3.png" height="80" width="377" style=" float:right;margin-top:16px;">
    <div style="clear:both"></div>
</div>