$def with (contents)
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>$contents.lang_page_title</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/s/css/normalize.css">
<link rel="stylesheet" href="/static/s/css/main.css">
<script src="/static/s/js/vendor/modernizr-2.6.2.min.js"></script>
<script src="/static/s/js/vendor/jquery-1.8.2.min.js"></script>
<script src="/static/s/js/vendor/jquery.cycle.all.min.js"></script>
<script src="/static/s/js/ie_v.js"></script>
<script src="/static/s/js/main.js"></script>
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<div id="panel_bg" class="abv_panel"></div>
<div id="bkg_ln_1"></div>
$if contents.is_home_page=="True":
    <div id="bkg_ln_2"></div>
    <div id="bkg_ln_3"></div>

<div id="outter_wrapper">
    <div class="wrapper">

        <div id="panel" class="abv_panel">
            <span style="float: left;"> <a href="#"> &nbsp; </a>  <a href="#"> &nbsp; </a></span>
            <span style="float: right;margin-right:78px;"> <a href="#" class="set_lang_es_mx"> &nbsp; </a> &nbsp; <a href="#" class="set_lang_en_us"> &nbsp; </a></span>
            <div style="clear:both"></div>
        </div>
        <a href="#"><div id="panel-toggle-button"></div></a>

        <div id="header">

            <div id="header-l">
                <a href="http://www.beonline.com.mx">
                    <span id="head-logo">
                        <span style="float:right; height:auto; padding-left:10px; width:130px;font-size:11px;">
AGENCIA DE DESARROLLO<br />Y CONSULTORIA<br />DE SOFTWARE
                        </span>
                        <img src="/static/s/images/logo_separator.png" style="height:40px; width:1px; float:  right; background-color:#993">
                        <div style="clear:both"></div>
                    </span>
                </a>
            </div><!--end header l-->

            <div id="header-r">

                <div id="head-icons">
                    <a href="#"><img src="/static/s/images/fb_icon.png" height="32" width="32"></a>
                    <a href="#"><img src="/static/s/images/tw_icon.png" height="32" width="32"></a>
                </div>
                <div id="menu-container">
                    $for menu in menus:
                        $if menu['title'].lower() == contents.current_menu.lower():
                            <a href="$menu['path']"><span class="menu-item active" alt="$menu['descr']"> $menu['title'] </span></a>
                        $else:
                            <a href="$menu['path']"><span class="menu-item inactive" alt="$menu['descr']"> $menu['title'] </span></a>
                    <div style="clear:both"></div>
                </div><!--end head-menu-->
            </div><!--end header r-->
            <div style="clear:both"></div><!--clear header lefht & right-->


        </div><!-- end header-->

        <div><!-- template contents -->
            $:contents
        </div><!-- end template contents -->
    </div><!--wrapper-->

    <div class="push"></div><!--push footer-->
</div>


<div class="footer" style="background-color:#ff6600;">
    <div class="wrapper" id="foot-wrapper">

        <div id="foot-cols">

            <div class="foot-col" id="f-col-1">
                <h2 style="display: inline; color:#ffcc00;">Beonline.com.mx</h2><br />
                <span>
                    <ul style="list-style: square;">
                        <li>
                            Ciudad Ju&aacute;rez, <br />
                            C.P. 32573 <br />
                            Chihuahua, Mexico <br /><br />
                        </li>
                        <li>
                            <!--Oficina: (656) 407 1016 <br />-->
                            <!--Movil: (656) 351 2217 <br /><br />-->
                            informes@beonline.com.mx<br />
                            ventas@beonline.com.mx<br />
                        </li>
                     </ul>
                </span>
            </div>
            <div class="foot-col" id="f-col-2">
                <img src="/static/s/images/imagen.png" style="width:99px; height:17px; padding-left:16px;">
                <span style="padding-left:16px;">
                    <ul style="list-style: square;">
                        <li>
                            Web Design
                        </li>
                        <li>
                            Templating for: Joomla, Wordpress & DotDetNuke
                        </li>
                        <li>
                            HTML5/CSS3
                        </li>
                        <li>
                            Browsers Compatibility
                        </li>
                    </ul>
                </span>
            </div>
            <div class="foot-col" id="f-col-3" >
                <img src="/static/s/images/webapps.png" style="width:137px; height:17px; padding-left:16px;">
                <span style="padding-left:16px;">
                    <ul style="list-style: square;">
                        <li>
                            Agile Development
                        </li>
                        <li>
                            RIA
                        </li>
                        <li>
                            RESTful/Web Services
                        </li>
                        <li>
                            Frontend/Backend
                        </li>
                        <li>
                            Dedicated Service
                        </li>
                        <li>
                            Windows/Linux Support
                        </li>
                    </ul>
                </span>
            </div>
            <div class="foot-col" id="f-col">
                <div id="logos"></div>
            </div>
            <div style="clear:both"></div>
        </div>

    </div>
</div>

<div id="footer-bottom">
    <div class="wrapper">


        <img src="/static/s/images/foot-logo.png" height="28" width="180" style="float:left; margin-top:18px;">

        <div style="float:right; margin-top:14px;">
            <a href="#"><img src="/static/s/images/fb_w_icon.png" height="32" width="32" style="float:right; padding:0 0 0 6px;"></a>
            <a href="#"><img src="/static/s/images/tw_w_icon.png" height="32" width="32" style="float:right; padding:0 0 0 6px;"></a>            <div style="margin-top:12px; float:right;">
            <span style="color:#FFF; font-size:12px;"> www.beonline.com.mx &copy; Todos los derechos reservados </span>
        </div>
            <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>



    </div>
</div>


</body>
</html>